<div class="jumbotron">
    123
</div>
<div class="row">
    <div class="col-md-4">
        @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="col-md-4">
        bbb
    </div>
    <div class="col-md-4">
        ccc
    </div>
</div>
